.project-card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 88%;
    height: 100%;
    height: 33vh;
    margin-top: 4vh;
    margin-bottom: 2vh;
}
.project-name {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
}
.company-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    height: 90%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.company-logo {
    width: 70%;
    border-radius: 10% 10% 10% 10%;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 1s ease-in-out;
    border: 2px solid white;
}

.year-and-stacks-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 20%;
    padding: 0;
    margin-bottom: 0.1rem;
}
.year, .stacks {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    width: 30%;
    height: 100%;
    padding: 0.1rem;
    /* border-bottom: 2px solid white; */
    font-size: 1.35rem;
    margin-bottom: 0.1rem;
    overflow: auto;
    padding-bottom: 0.2rem;
    padding-top: 0.3rem;
}

.stacks {
    justify-content: right;
    width: 70%;
}

.description {
    display: flex;
    align-items: left;
    justify-content: justify;
    width: 100%;
    height: 35%;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    font-size: 1.1rem;
    overflow: auto;
}

.code-and-website-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 30%;
    margin-top: 1rem;
    padding: 0;
    font-size: 1.05rem;
    overflow: auto;
    /* border: 1px solid white; */
}
.code-and-website-container a {
    text-decoration: None;
    color: white;
    font-size: 1.5rem;
}

  .code,
  .website {
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    height: 100%;
    font-size: 1.05rem;
    overflow: auto;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  
  .code {
    justify-content: center;
  }
  
.fa-rocket {
    margin-right: 0.5rem;
    font-size: 2.5rem;
    transition: opacity 1s ease-in-out;
}

.fa-rocket:hover {
    opacity: 0.6;
    cursor: pointer;
    transform: scale(1.4);
}

@media screen and (max-width: 1100px) {
    .project-card-container {
        height: 36vh;
        width: 95vw;
    }
    div.project-card-container .company-logo {
        width: 90%;
        height: 85%;

    }
    div.project-card-container .description {
        font-size: 1.05rem;
        padding: 0;
        height: 50%;
    }
    .year, .stacks {
        font-size: 1.1rem;
    }
    .code-and-website-container {
        height: 18%;
    }
    .year-and-stacks-container {
        height: 12%;
    }
    .project-name {
        font-size: 1.5rem;
        height: 15%;
    }
    div.project-card-container .fa-github, div.project-card-container .fa-rocket {
        font-size: 2.5rem; 
    }
} 


@media screen and (max-width: 750px) {
     div.project-card-container  .company-logo {
        width: 95%;
        height: 65%;
    }

}

@media screen and (max-width: 600px) {

    div.project-card-container .description {
        font-size: 0.85rem;
        height: 53%;
    }
    .stacks, .year {
        font-size: 0.95rem;
    }
    div.project-card-container .project-name {
        font-size: 1.2rem;
        height: 12%;
    }
    .cod,
    .web {
    font-size: 1rem;
    }

    div.project-card-container .fa-github, div.project-card-container .fa-rocket {
        font-size: 1.9rem; 
    }
    .code-and-website-container {
        height: 15%;
    }
} 

@media screen and (max-width: 500px) {
    .project-card-container {
        height: 30vh;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }
    div.project-card-container .description {
        font-size: 0.85rem;
        height: 53%;
    }
    .stacks, .year {
        font-size: 0.9rem;
    }
    .project-name {
        font-size: 1.1rem;
        height: 12%;
    }
    .cod,
    .web {
    font-size: 0.8rem;
    }

    div.project-card-container .fa-github, div.project-card-container .fa-rocket {
        font-size: 1.4rem; 
    }
    .code-and-website-container {
        height: 15%;
    }
} 

@media screen and (max-width: 450px) {
    div.project-card-container .description {
        font-size: 0.95rem;
        height: 53%;
    }
    .stacks, .year {
        font-size: 0.9rem;
    }
    .project-name {
        font-size: 1rem;
        height: 12%;
    }
    .cod,
    .web {
    font-size: 0.8rem;
    }

    div.project-card-container .fa-github, div.project-card-container .fa-rocket {
        font-size: 1.4rem; 
    }
    .code-and-website-container {
        height: 15%;
    }
} 

