.confirmation-dialog {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    border: 1px solid grey;
    /* border-radius: 3%; */
    padding: 0.5rem;
    max-width: 95vw;
}

.table-container {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in {
  opacity: 1;
}


.confirm-or-cancel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.confirm-button, .cancel-button {
    height: 2rem;
    background-color: darkgreen;
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 10%;
    padding: 0.3rem;
    margin-right: 1rem;
    color: white;
    transition: 0.5s ease;
    border: None
}
.cancel-button {
    background-color: red;
    margin-right: 0;
    margin-left: 1rem;
}

.confirm-button:hover, .cancel-button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.confirmation-dialog table {
    border-collapse: collapse;
    max-width: 95vw;
  }
  
.confirmation-dialog th,
.confirmation-dialog td {
  border: 1px solid lightgray;
  padding: 8px;
  text-align: left;
  overflow: auto;
  max-height: 20vh; 
}

  
  .confirmation-dialog th {
    text-align: center;
    font-weight: bold;
    background-color: lightgray;
    overflow: auto;
  }
  
  .confirmation-dialog tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    overflow: auto;
  }
  
  .confirmation-dialog tbody tr:hover {
    background-color: #ddd;
    overflow: auto;
  }

  .disabled-button {
    background-color: grey;
  }