.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 2rem 0;
    background-image: url('./collegelogos/possible-background-4.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 13vh;
    padding-bottom: 15vh; 
}

.yale-nus-college, 
.yale-university, 
.ubc, 
.aitchison-college {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 90vw;
    padding: 0;
    height: 30vh;
    margin-top: 4rem;
    
}

/* College Logo */
.college-logo-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 17%;
    height: 90%;
    margin: 0;
}


.college-logo {
    margin-top: 0;
    padding-top: 0;
    width: 85%;
}


.college-logo:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/* Country Logo */

.country-logo-container {
    width: 17%;
    height: 100%;

}
.flag-container {
    height: 63%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.country-logo {
    width: 90%;
    height: 100%;
}

.country-logo:hover {
    transform: scale(0.9);
    transition: transform 0.5s ease-in-out;
}

.duration {
    margin-top: 1rem;
    width: 100%;
    height: 20%;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
}

.timetaken {
    width: 100%;
    height: 17%;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    padding:0;
    text-align: right;
}

/* main container of all the text */
.college-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66%;
    margin: 0; 
    padding: 0;
    height: 100%;
    padding-right: 0.5rem;
    height: 100%;
}

.degree {
    width: 100%;
    font-size: 1.28rem;
    height: 25%;
    font-weight: 600;
    color: #fff;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.activities-and-skills {
    color: #fff;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
}

.activities,
.skills {
  font-size: 1.1rem;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: flex-start;
  overflow: auto;
}

.skills {
  align-items: flex-end;
  height: 60%;
  justify-content: flex-end;
}





@media screen and (max-width: 1180px) {
    
    .yale-nus-college, 
    .yale-university, 
    .ubc, 
    .aitchison-college {
        margin-top: 2rem;
        width: 95vw;
        height: 38vh;
    }
    .flag-container {
        height: 55%;
    }
}


@media screen and (max-width: 950px) {
    
    .yale-nus-college, 
    .yale-university, 
    .ubc, 
    .aitchison-college {
        height: 40vh;

    }
    .college-logo-container {
        width: 20%;
        height: 80%;
    }
    .country-logo-container {
        width: 18%;
    }
    .flag-container{ 
        height: 45%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .country-logo {
        width: 100%;
    }
    .activities, .skills {
        margin-top: 0;
        font-size: 0.95rem;
        height: 37%;
    }
    .skills {
        height: 63%
    }
    .degree {
        width: 100%;
        font-size: 1.1rem;
        height: 17%;
    }

}

@media screen and (max-width: 720px) {
    
    .yale-nus-college, 
    .yale-university, 
    .ubc, 
    .aitchison-college {
        height: 42vh;

    }
    .college-logo-container {
        width: 20%;
        height: 60%;
    }
    .degree {
        font-size: 1rem;
    }
    .activities, 
    .skills {
        font-size: 0.9rem;
    }
    .duration {
        font-size: 0.75rem;
    }
   .timetaken {
        font-size: 0.75rem;
    }
    .country-logo-container {
        width: 20%;
    }
    .country-logo {
        width: 100%;
        object-fit: fill;
    }
    .activities {
        margin-top: 0;
    }
    .flag-container{ 
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
    }

}

@media screen and (max-width: 600px) {
    
    .yale-nus-college, 
    .yale-university, 
    .ubc, 
    .aitchison-college {
        display: flex;
        height: 90vh;
        width: 93vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        margin-bottom: 2rem;
        flex-grow: 1;

    }
    .college-logo-container {
        width: 100%;
        height: 20%;
    }
    .college-logo {
        width: 25%;
        height: 100%;
    }
    .college-text {
        width: 100%;
        height: 60%;
        margin: 0;
        padding: 0.1rem;
        padding-top: 0.4rem;
    }
    .degree { 
        font-size: 1.1rem;
        max-height: 20%;
    }
    .activities-and-skills {
        width: 100%;
        max-height: 60%;
        padding: 0.1rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .country-logo-container {
        width: 100%;
        max-height: 25%;
        min-height: 20%;
        display: flex;
        flex-direction: column;
    }
    .flag-container {
        height: 65%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .country-logo {
        width: 40%;
        height: 100%;
    }
    .duration, .timetaken {
        font-size: 0.9rem;
        max-height: 15%;
        width: 100%;
        text-align: center;
    }
}

